@media screen and (max-width: 440px) {
  .responssive {
    width: 100%;
    display: inline-block;
    text-align: center;
  }
}

.information {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#personalInformation label,
.class1 label,
.Contact label {
  width: 210px;
  float: left;
}

.pictureFloat {
  float: left;
}

h3 {
  text-align: center;
}

textarea#comercialComments {
  width: 100%;
}


